@model Cec.ViewModels.ModelDeleteViewModel

@{
    ViewBag.Title = "Delete Model";
}

<h2>Delete Model</h2>
<div class="btn-group">
    @Html.ActionLink("Models", "Index", new { id = Model.ProjectId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Model " + Model.ModelName, "Details", new { id = Model.ModelId }, new { @class = "btn btn-primary" })
</div>
<h3 class="text-danger">Are you sure you want to delete Model @Model.ModelName?</h3>
<br />
<br />
<p class="has-error">@ViewBag.ErrorMessage</p>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ModelId)
        @Html.HiddenFor(model => model.ProjectId)
        
        <div class="btn-group">
            @Html.ActionLink("Cancel", "Details", new { id = Model.ModelId }, new { @class = "btn btn-primary" })
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <br />
        <br />
    }
</div>
<div class="breadcrumb text-center">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.ProjectName + " Project", "Details", "Project", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Models", "Index", new { id = Model.ProjectId })
</div>
