@model Cec.ViewModels.AreaIndexViewModel
<tr class="row">
    <td class="col-lg-3 col-xs-2 text-center">
        @Html.CheckBoxFor(model => model.Selected)
    </td>
    <td class="col-lg-3 col-xs-2 text-center">
        @Html.ActionLink(Model.Area, "Details", new { id = Model.AreaId })
        @Html.HiddenFor(model => model.AreaId)
        @Html.HiddenFor(model => model.Area)
        @Html.HiddenFor(model => model.BuildingId)
        @Html.HiddenFor(model => model.Building)
        @Html.HiddenFor(model => Model.ProjectId)
        @Html.HiddenFor(model => Model.Project)
    </td>
    <td class="col-lg-6 col-xs-8 text-center">
        <div class="btn-group">
            @Html.ActionLink("Area's Material", "Index", "AreaMaterial", new { id = Model.AreaId }, new { @class = "btn btn-danger" })
            @Html.ActionLink("Copy", "Copy", new { id = Model.AreaId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Edit", "Edit", new { id = Model.AreaId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Delete", "Delete", new { id = Model.AreaId }, new { @class = "btn btn-default" })
        </div>
    </td>
</tr>
