@model Cec.ViewModels.BuildingIndexViewModel
<tr>
    <td width="10%">
        @Html.CheckBoxFor(model => model.Selected)
    </td>
    <td>
        @Html.ActionLink(Model.Building, "Details", new { id = Model.BuildingId })
        @Html.HiddenFor(model => model.BuildingId)
        @Html.HiddenFor(model => model.Building)
        @Html.HiddenFor(model => Model.ProjectId)
        @Html.HiddenFor(model => Model.Project)
    </td>
    <td>
        @Html.ActionLink("Areas", "Index", "Area", new { id = Model.BuildingId }, null) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.BuildingId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.BuildingId })
    </td>
</tr>
