@model Cec.ViewModels.BuildingsMaterialViewModel
<tr>
    <td>
        @Html.CheckBox("Selected")
    </td>
    <td>
        <img title="@Model.MaterialDesignation" alt="@Model.MaterialDesignation" src="@Model.ImagePath" height="100" width="100" class="img-responsive" />
    </td>
    <td>
        @Html.ActionLink(Model.MaterialDesignation, "Details", "Material", new { id = Model.MaterialId }, null)
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.ProjectDesignation)
        @Html.HiddenFor(model => model.BuildingId)
        @Html.HiddenFor(model => model.MaterialId)
        @Html.HiddenFor(model => model.MaterialDesignation)
        @Html.HiddenFor(model => model.ImagePath)
        @Html.HiddenFor(model => model.Total)
        @Html.HiddenFor(model => model.UnitOfMeasure)
    </td>
    <td>
        @Html.DisplayFor(model => model.Total)
    </td>
    <td>
        @Html.DisplayFor(model => model.UnitOfMeasure)
    </td>
</tr>
