@model Cec.ViewModels.BuildingsMaterialItemViewModel
<tr class="row">
    <td class="col-xs-1 text-left">
        @Html.CheckBoxFor(model => model.Selected)
    </td>
    <td class="col-xs-1 text-center">
        <img title="@Model.Material" alt="@Model.Material" src="@Model.ImagePath" class="img-responsive" />
    </td>
    <td class="col-xs-6 text-center">
        @Html.ActionLink(Model.Material, "Details", "Material", new { id = Model.MaterialId }, null)
        @Html.HiddenFor(model => model.MaterialId)
        @Html.HiddenFor(model => model.Material)
        @Html.HiddenFor(model => model.ImagePath)
        @Html.HiddenFor(model => model.Total)
        @Html.HiddenFor(model => model.UnitOfMeasure)
    </td>
    <td class="col-xs-2 text-center">
        @Html.DisplayFor(model => model.Total)
    </td>
    <td class="col-xs-2 text-center">
        @Html.DisplayFor(model => model.UnitOfMeasure)
    </td>
</tr>
