@model Cec.ViewModels.ModelMaterialCreateViewModel

@{
    ViewBag.Title = "New Model Material";
}

<p>
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.Project + " Project", "Details", "Project", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Models", "Index", "Model", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Model " + Model.Model, "Details", "Model", new { id = Model.ModelId }, null)
</p>
<h2>Add to Model @Model.Model</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ModelId)
    
    //Html.CheckBoxFor(model => model.OnlyProjectMaterial, new { @checked = Model.OnlyProjectMaterial, @onclick = "this.form.submit();" })
    //<label for="OnlyProjectMaterial" class="control-label">Show only material already used in this project</label>
    <table class="table">
        <tr>
            <th class="col-lg-1 text-center">
                Quantity
            </th>
            <th class="col-lg-1 text-center">
                U/M
            </th>
            <th class="col-lg-1 text-center">
                Image
            </th>
            <th class="col-lg-2 text-center">
                Material
            </th>
            <th class="col-lg-7 text-left">
                Description
            </th>
        </tr>
        @Html.EditorFor(model => model.Materials)
    </table>
    @Html.CheckBoxFor(model => model.ApplyToAllAreas, new { @checked = Model.ApplyToAllAreas })
    <label for="ApplyToAllAreas" class="control-label">Apply to existing areas?</label>
    <br />
    <br />
    <div class="btn-group">
        @Html.ActionLink("Cancel", "Index", new { id = Model.ModelId }, new { @class = "btn btn-primary" })
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
