@model Cec.ViewModels.ModelMaterialEditViewModel

@{
    ViewBag.Title = "Edit Model Material";
}

<p class="nav">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.Project + " Project", "Details", "Project", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Models", "Index", "Model", new { id = Model.ModelId }, null) >
    @Html.ActionLink("Model " + Model.Model, "Details", "Model", new { id = Model.ModelId }, null)
</p>
<h2>Edit @Model.Material</h2>
<h2>for Model @Model.Model</h2>
<br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.Project)
        @Html.HiddenFor(model => model.ModelId)
        @Html.HiddenFor(model => model.Model)
        @Html.HiddenFor(model => model.MaterialId)
        @Html.HiddenFor(model => model.Material)
        @Html.HiddenFor(model => model.UnitOfMeasure)

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Quantity)&nbsp;@Model.UnitOfMeasure
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RoughQuantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoughQuantity, new { htmlAttributes = new { @class = "form-control" } })&nbsp;@Model.UnitOfMeasure
                @Html.ValidationMessageFor(model => model.RoughQuantity)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FinishQuantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinishQuantity, new { htmlAttributes = new { @class = "form-control" } })&nbsp;@Model.UnitOfMeasure
                @Html.ValidationMessageFor(model => model.FinishQuantity)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.CheckBoxFor(model => model.ApplyToExisting)
                <label for="ApplyToExisting" class="control-label">Apply to existing areas?</label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 btn-group">
                @Html.ActionLink("Cancel", "Index", new { id = Model.ModelId }, new { @class = "btn btn-primary" })
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
