@model IEnumerable<Cec.ViewModels.ModelMaterialIndexViewModel>

@{
    ViewBag.Title = "Material";
    var modelMaterial = Model.First();
}

<p class="nav">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(modelMaterial.Project + " Project", "Details", "Project", new { id = modelMaterial.ProjectId }, null) >
    @Html.ActionLink("Models", "Index", "Model", new { id = modelMaterial.ProjectId }, null) >
    @Html.ActionLink("Model " + modelMaterial.Model, "Details", "Model", new { id = modelMaterial.ModelId }, null)
</p>
<h2>Material for Model @modelMaterial.Model</h2>
<p>
    @Html.ActionLink("Add Item", "Create", new { id = modelMaterial.ModelId }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th colspan="2" class="col-lg-5 text-center">
            @Html.DisplayNameFor(model => model.Material)
        </th>
        <th class="col-lg-2 text-center">
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th class="col-lg-2 text-center">
            @Html.DisplayNameFor(model => model.UnitOfMeasure)
        </th>
        <th class="col-lg-3 text-center">
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="col-lg-2 text-center">
            <img src="@item.ImagePath" title="@item.Material" height="50" width="50" alt="@item.Material" />
        </td>
        <td class="col-lg-3 text-center">
            @Html.ActionLink(item.Material, "Details", "Material", new { id = item.MaterialId }, null)
        </td>
        <td class="col-lg-2 text-center">
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td class="col-lg-2 text-center">
            @Html.DisplayFor(modelItem => item.UnitOfMeasure)
        </td>
        <td class="col-lg-3 text-center">
            <div class="btn-group">
                @Html.ActionLink("Edit", "Edit", new { id = item.ModelId, materialId = item.MaterialId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ModelId, materialId = item.MaterialId }, new { @class = "btn btn-default" })
            </div>
        </td>
    </tr>
}
</table>
