@model IEnumerable<Cec.ViewModels.ProjectIndexViewModel>

@{
    ViewBag.Title = "Project";
}

<p>
    @Html.ActionLink("Materials", "Index", "Material")
</p>
<h2>Projects</h2>
<table class="table">
    <tr class="row">
        <th class="col-lg-6">
            @Html.DisplayNameFor(model => model.First().Project)
        </th>
        <th class="col-lg-6">
            Actions
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr class="row">
            <td class="col-lg-6">
                @Html.ActionLink(item.Project, "Details", new { id = item.ProjectId }, new { @class = "text-primary" })
            </td>
            <td class="col-lg-6">
                <div class="btn-group">
                    @Html.ActionLink("Buildings", "Index", "Building", new { id = item.ProjectId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Models", "Index", "Model", new { id = item.ProjectId }, new { @class = "btn btn-default" })
                </div>
                <div class="btn-group">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId }, new { @class = "btn btn-default" })
                </div>
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
