@model IEnumerable<Cec.ViewModels.ProjectIndexViewModel>

@{
    ViewBag.Title = "Project";
}

<br />
<p>
    @Html.ActionLink("Materials", "Index", "Material")
</p>
<h2>Projects</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Project)
        </th>
        <th>
            Actions
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Project, "Details", new { id = item.ProjectId })
        </td>
        <td>
            @Html.ActionLink("Buildings", "Index", "Building", new { id = item.ProjectId }, null) |
            @Html.ActionLink("Models", "Index", "Model", new { id = item.ProjectId }, null) |
            @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
        </td>
    </tr>
}

</table>
