@model Cec.ViewModels.ModelMaterialCreateItemViewModel

<tr>
    <td width="10%">
        @Html.HiddenFor(model => model.ModelId)
        @Html.HiddenFor(model => model.MaterialId)
        @Html.EditorFor(model => model.Quantity, new { HtmlAttributes = new { style = "width: 100%" } })
        @Html.ValidationMessageFor(model => model.Quantity)
    </td>
    <td width="10%">
        @Html.DisplayFor(model => model.UnitOfMeasureName)
    </td>
    <td width="10%">
        <img title="@Model.MaterialName" height="50" width="50" src="@Model.ImagePath" alt="@Model.MaterialName" />
    </td>
    <td width="10%">
        @Html.DisplayFor(model => model.MaterialName)
    </td>
    <td width="60%">
        @Html.DisplayFor(model => model.Description)
    </td>
</tr>
