@model Cec.ViewModels.ModelMaterialCreateItemViewModel

<tr>
    <td class="col-lg-1 text-center">
        @Html.HiddenFor(model => model.ModelId)
        @Html.HiddenFor(model => model.MaterialId)
        @Html.EditorFor(model => model.Quantity, new { HtmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Quantity)
    </td>
    <td class="col-lg-1 text-center">
        @Html.DisplayFor(model => model.UnitOfMeasureName)
    </td>
    <td class="col-lg-1 text-center">
        <img title="@Model.MaterialName" height="50" width="50" src="@Model.ImagePath" alt="@Model.MaterialName" />
    </td>
    <td class="col-lg-2 text-center">
        @Html.DisplayFor(model => model.MaterialName)
    </td>
    <td class="col-lg-7 text-justify">
        @Html.DisplayFor(model => model.Description)
    </td>
</tr>
