@model Cec.ViewModels.BuildingsMaterialViewModel

@{
    ViewBag.Title = "Buildings' Material";
}

@{
    if (Model.Buildings.Count > 1)
    {
        <h2>Buildings @Html.Raw(String.Join(", ", Model.Buildings.Values))</h2>
    }
    else
    {
        <h2>Building @Html.Raw(Model.Buildings.Values.First())</h2>
    }
}

@using (Html.BeginForm("BuildingsMaterial", "Building", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.Project)
    @Html.HiddenFor(model => model.Buildings)
    @Html.ValidationSummary()

    <div class="btn-group">
        @Html.ActionLink("Buildings", "Index", new { id = Model.ProjectId }, new { @class = "btn btn-default" })
        <input type="submit" value="Download Data" class="btn btn-primary" />
    </div>
    <br />
    <br />
    <table class="table table-hover">
        <tr class="row">
            <th class="col-xs-1 text-left">
                <input type="checkbox" onclick="checkAll(this)" /> All
            </th>
            <th class="col-xs-1 text-center">
                Image
            </th>
            <th class="col-xs-6 text-center">
                Material
            </th>
            <th class="col-xs-2 text-center">
                Total
            </th>
            <th class="col-xs-2 text-center">
                U/M
            </th>
        </tr>
        @Html.DisplayFor(model => model.Materials)
    </table>
}
<div class="breadcrumb text-center">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.Project + " Project", "Details", "Project", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Buildings", "Index", new { id = Model.ProjectId })
</div>

@section Scripts {
<script>
    function checkAll(bx) {
        var cbs = document.getElementsByTagName('input');
        for (var i = 0; i < cbs.length; i++) {
            if (cbs[i].type == 'checkbox') {
                cbs[i].checked = bx.checked;
            }
        }
    }
</script>
}
