@model Cec.ViewModels.BuildingDeleteViewModel

@{
    ViewBag.Title = "Building";
}

<h2 class="text-danger">Are you sure you want to delete Building @Model.BuildingDesignation?</h2>
<div class="btn-group btn-group-vertical">
    @Html.ActionLink("Back to Building " + Model.BuildingDesignation, "Details", new { id = Model.BuildingId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Buildings", "Index", new { id = Model.ProjectId }, new { @class = "btn btn-default" })
</div>
<br />
<br />

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProjectId)
        @Html.HiddenFor(model => model.ProjectDesignation)
        @Html.HiddenFor(model => model.BuildingId)
        @Html.HiddenFor(model => model.BuildingDesignation)
        @Html.ValidationSummary(true)

        <div class="btn-group">
            @Html.ActionLink("Cancel", "Details", new { id = Model.BuildingId }, new { @class = "btn btn-primary" })
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
        <br />
        <br />
    }
</div>
<div class="breadcrumb text-center">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.ProjectDesignation + " Project", "Details", "Project", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Buildings", "Index", new { id = Model.ProjectId })
</div>
