@model IEnumerable<Cec.ViewModels.BuildingIndexViewModel>

@{
    ViewBag.Title = "Building";
    var bivm = Model.First();
}

<p class="nav">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(bivm.Project + " Project", "Details", "Project", new { id = bivm.ProjectId }, null)
</p>
<h2>Buildings</h2>

@using (Html.BeginForm("Index", "Building", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <table class="table">
            <tr>
                <th>
                    <input type="checkbox" class="checkall" /> Select All
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Building)
                </th>
                <th>
                    Actions
                </th>
            </tr>
            @Html.DisplayFor(model => model)
        </table>
    </fieldset>
    <div class="btn-group">
        <input type="submit" value="Calculate Materials" class="btn btn-primary" />
        @Html.ActionLink("Create New", "Create", new { id = bivm.ProjectId }, new { @class = "btn btn-default" })
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(function () {
        $('.checkall').on('click', function () {
            $(this).closest('fieldset').find(':checkbox').prop('checked', this.checked);
        });
    });
    </script>
}
