@model IEnumerable<Cec.ViewModels.BuildingIndexViewModel>

@{
    ViewBag.Title = "Building";
    var bivm = Model.First();
}

<div class="breadcrumb">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(bivm.Project + " Project", "Details", "Project", new { id = bivm.ProjectId }, null)
</div>
<h2>Buildings</h2>

@using (Html.BeginForm("Index", "Building", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="table">
        <tr>
            <th>
                <input type="checkbox" onclick="checkAll(this)" /> Select All
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                Actions
            </th>
        </tr>
        @Html.DisplayFor(model => model)
    </table>
    <div class="btn-group">
        <input type="submit" value="Calculate Materials" class="btn btn-primary" />
        @Html.ActionLink("Create New", "Create", new { id = bivm.ProjectId }, new { @class = "btn btn-default" })
    </div>
}

@section Scripts {
    <script>
        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
</script>
}
