@model Cec.ViewModels.BuildingIndexViewModel

@{
    ViewBag.Title = "Buildings";
}

<h2>Buildings</h2>
@Html.ActionLink("Back to " + Model.ProjectDesignation + " Project", "Details", "Project", new { id = Model.ProjectId }, new { @class = "btn btn-default" })
<br />
<br />

@using (Html.BeginForm("Index", "Building", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectId)
    @Html.HiddenFor(model => model.ProjectDesignation)
    @Html.ValidationSummary()

    <table class="table table-hover">
        <tr class="row">
            <th class="col-lg-3 col-xs-2 text-center">
                <input type="checkbox" onclick="checkAll(this)" /> All
            </th>
            <th class="col-lg-3 col-xs-2 text-center">
                Building
            </th>
            <th class="col-lg-6 col-xs-8 text-center">
                Actions
            </th>
        </tr>
        @Html.DisplayFor(model => model.Buildings)
        <tr class="row">
            <td class="col-lg-3 col-xs-2 text-center">
                <input type="submit" value="Material" class="btn btn-primary" />
            </td>
            <td class="col-lg-3 col-xs-2 text-center">
                @Html.ActionLink("New Building", "Create", new { id = Model.ProjectId }, new { @class = "btn btn-link" })
            </td>
            <td class="col-lg-6 col-xs-8 text-center">
                &nbsp;
            </td>
        </tr>
    </table>
}
<div class="breadcrumb text-center">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.ProjectDesignation + " Project", "Details", "Project", new { id = Model.ProjectId }, null)
</div>

@section Scripts {
    <script>
        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
</script>
}
