@model IEnumerable<Cec.ViewModels.BuildingIndexViewModel>

@{
    ViewBag.Title = "Buildings";
}

<div class="breadcrumb">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.First().Project + " Project", "Details", "Project", new { id = Model.First().ProjectId }, null)
</div>
<h2>Buildings</h2>

@using (Html.BeginForm("Index", "Building", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="table table-hover">
        <tr class="row">
            <th class="col-lg-3 col-xs-2 text-center">
                <input type="checkbox" onclick="checkAll(this)" /> All
            </th>
            <th class="col-lg-3 col-xs-2 text-center">
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th class="col-lg-6 col-xs-8 text-center">
                Actions
            </th>
        </tr>
        @Html.DisplayFor(model => model)
        <tr class="row">
            <td class="col-lg-3 col-xs-2 text-center">
                <input type="submit" value="Material" class="btn btn-link" />
            </td>
            <td class="col-lg-3 col-xs-2 text-center">
                @Html.ActionLink("Create", "Create", new { id = Model.First().ProjectId }, new { @class = "btn btn-link" })
            </td>
            <td class="col-lg-6 col-xs-8 text-center">
                &nbsp;
            </td>
        </tr>
    </table>
}

@section Scripts {
    <script>
        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
</script>
}
