@model PagedList.IPagedList<Cec.ViewModels.MaterialIndexViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Materials";
}

<br />
<p>
    @Html.ActionLink("Projects", "Index", "Project")
</p>
<h2>Materials</h2>
<p>
    @Html.ActionLink("Create New", "Create", new { page = Model.PageNumber, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter }) |
    @Html.ActionLink("Units of Measure", "Index", "UnitOfMeasure")
</p>
@using (Html.BeginForm("Index", "Material", FormMethod.Get))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
        <input type="submit" value="Description Search" class="btn btn-sm btn-info" />
    </p>
}
<table class="table table-hover">
    <tr class="row">
        <th class="col-lg-2">
            Image
        </th>
        <th class="col-lg-1 text-center">
            @Html.ActionLink("Material", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter }) &uarr;&darr;
        </th>
        <th class="col-lg-6 text-left">
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
        <th class="col-lg-3 text-center">
            Actions
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr class="row">
        <td class="col-lg-2">
            <a href="~/Material/Details/@item.MaterialID?page=@Model.PageNumber&sortOrder=@ViewBag.SortOrder&currentFilter=@ViewBag.CurrentFilter">
                <img title="@item.Material" src="@item.ImagePath" alt="@item.Material" class="img-responsive" style="max-height: 100px;" />
            </a>
        </td>
        <td class="col-lg-1 text-center">
            @Html.ActionLink(item.Material, "Details", new { id = item.MaterialID, page = Model.PageNumber, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter })
        </td>
        <td class="col-lg-6 text-left">
            <pre class="pre-scrollable" style="max-height: 100px;">@item.Description</pre>
        </td>
        <td class="col-lg-3 text-center">
            <div class="btn-group">
                @Html.ActionLink("Copy", "Copy", new { id = item.MaterialID, page = Model.PageNumber, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn btn-sm btn-danger" })
                @Html.ActionLink("Edit", "Edit", new { id = item.MaterialID, page = Model.PageNumber, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.MaterialID, page = Model.PageNumber, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter }, new { @class = "btn btn-sm btn-default" })
            </div>
        </td>
    </tr>
}
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.SortOrder, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.ClassicPlusFirstAndLast)