<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Complete Electric</title>
        @Styles.Render("~/styles")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <img alt="Cec Logo" src="/Content/Images/CEC Logo.png" width="73" height="40" class="navbar-brand" />
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacts", "Index", "Contact")</li>
                        <li>@Html.ActionLink("Projects", "Index", "Project")</li>
                        <li>@Html.ActionLink("Material", "Index", "Material")</li>
                        <li>@Html.ActionLink("Profile", "Details", "Profile")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Complete Electric and Communications, Inc.</p>
            </footer>
        </div>

        @Scripts.Render("~/scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
