<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Complete Electric</title>
        @Styles.Render("~/styles")
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="Home/"><img alt="Cec Logo" src="/Content/Images/CEC Logo.png" width="50" class="img-responsive" /></a>
                </div>
                <div class="navbar-collapse collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink(" Home", "Index", "Home", null, new { @class = "glyphicon glyphicon-home" })</li>
                        <li>@Html.ActionLink(" About", "About", "Home", null, new { @class = "glyphicon glyphicon-info-sign" })</li>
                        <li>@Html.ActionLink(" Contacts", "Index", "Contact", null, new { @class = "glyphicon glyphicon-phone" })</li>
                        <li>@Html.ActionLink(" Projects", "Index", "Project", null, new { @class = "glyphicon glyphicon-star" })</li>
                        <li>@Html.ActionLink(" Material", "Index", "Material", null, new { @class = "glyphicon glyphicon-barcode" })</li>
                        <li>@Html.ActionLink(" Profile", "Details", "Profile", null, new { @class = "glyphicon glyphicon-pencil" })</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Complete Electric and Communications, Inc.</p>
            </footer>
        </div>

        @Scripts.Render("~/scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>
