@model IEnumerable<Cec.ViewModels.AreasMaterialViewModel>

@{
    ViewBag.Title = "Areas' Material";
    var amvm = Model.First();
}

<h2>Area(s) @TempData["areasString"].ToString()</h2>

@using (Html.BeginForm("AreasMaterial", "Area", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="btn-group">
        @Html.ActionLink("Back to Areas", "Index", new { id = amvm.BuildingId }, new { @class = "btn btn-default" })
        <input type="submit" value="Download Data" class="btn btn-primary" />
    </div>
    <br />
    <br />
    <table class="table table-hover">
        <tr class="row">
            <th class="col-xs-1 text-left">
                <input type="checkbox" onclick="checkAll(this)" /> Select All
            </th>
            <th class="col-xs-1 text-center">
                Image
            </th>
            <th class="col-xs-6 text-center">
                Material
            </th>
            <th class="col-xs-2 text-center">
                Total
            </th>
            <th class="col-xs-2 text-center">
                U/M
            </th>
        </tr>
        @Html.DisplayFor(model => model)
    </table>
}
<div class="breadcrumb text-center">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(amvm.Project + " Project", "Details", "Project", new { id = amvm.ProjectId }, null) >
    @Html.ActionLink("Buildings", "Index", "Building", new { id = amvm.ProjectId }, null) >
    @Html.ActionLink("Building " + amvm.Building, "Details", "Building", new { id = amvm.BuildingId }, null) >
    @Html.ActionLink("Areas", "Index", new { id = amvm.BuildingId })
</div>

@section Scripts {
    <script>
        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
    </script>
}
