@model IEnumerable<Cec.ViewModels.AreaIndexViewModel>

@{
    ViewBag.Title = "Areas";
    var amvm = Model.First();
}

<h2>Areas</h2>
@Html.ActionLink("Back to Building " + amvm.Building, "Details", "Building", new { id = amvm.BuildingId }, new { @class = "btn btn-default" })
<br />
<br />

@using (Html.BeginForm("Index", "Area", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <table class="table table-hover">
        <tr class="row">
            <th class="col-lg-3 col-xs-2 text-center">
                <input type="checkbox" onclick="checkAll(this)" /> All
            </th>
            <th class="col-lg-3 col-xs-2 text-center">
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th class="col-lg-6 col-xs-8 text-center">
                Actions
            </th>
        </tr>
        @Html.DisplayFor(model => model)
        <tr class="row">
            <td class="col-lg-3 col-xs-2 text-center">
                <input type="submit" value="Material" class="btn btn-primary" />
            </td>
            <td class="col-lg-3 col-xs-2 text-center">
                @Html.ActionLink("New Area", "Create", new { id = amvm.BuildingId }, new { @class = "btn btn-link" })
            </td>
            <td class="col-lg-6 col-xs-8 text-center">
                &nbsp;
            </td>
        </tr>
    </table>
}
<div class="breadcrumb text-center">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(amvm.Project + " Project", "Details", "Project", new { id = amvm.ProjectId }, null) >
    @Html.ActionLink("Buildings", "Index", "Building", new { id = amvm.ProjectId }, null) >
    @Html.ActionLink("Building " + amvm.Building, "Details", "Building", new { id = amvm.BuildingId }, null)
</div>

@section scripts {
    <script>
        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
    </script>
}
