@model Cec.ViewModels.AreaIndexViewModel

@{
    ViewBag.Title = "Areas";
}

<h2>Areas</h2>
<div class="row">
    <div class="text-left col-xs-6 col-sm-3">
        <div class="btn-group btn-group-vertical">
            @Html.ActionLink("Building " + Model.Building, "Details", "Building", new { id = Model.BuildingId }, new { @class = "btn btn-default" })
        </div>
    </div>
    <div class="text-right col-xs-6 col-sm-3 col-sm-push-6">
        <div class="btn-group btn-group-vertical">
            @Html.ActionLink("New Area", "Create", new { id = Model.BuildingId }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<br />

@using (Html.BeginForm("Index", "Area", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(x => x.ProjectId)
    @Html.HiddenFor(x => x.Project)
    @Html.HiddenFor(x => x.BuildingId)
    @Html.HiddenFor(x => x.Building)

    <table class="table table-hover">
        <tr class="row">
            <th class="col-xs-1 col-lg-3 text-center">
                <input type="checkbox" onclick="checkAll(this)" /> All
            </th>
            <th class="col-xs-2 col-lg-3 text-center">
                @Html.DisplayName("Area")
            </th>
            <th class="col-xs-9 col-lg-6 text-center">
                Actions
            </th>
        </tr>
        @Html.DisplayFor(model => model.Areas)
        <tr class="row">
            <td colspan="2" class="col-xs-6 text-center">
                <input type="submit" value="Calculate Material" class="btn btn-primary" />
            </td>
            <td class="col-xs-6 text-center">
                &nbsp;
            </td>
        </tr>
    </table>
}
<div class="breadcrumb text-center">
    @Html.ActionLink("Projects", "Index", "Project") >
    @Html.ActionLink(Model.Project + " Project", "Details", "Project", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Buildings", "Index", "Building", new { id = Model.ProjectId }, null) >
    @Html.ActionLink("Building " + Model.Building, "Details", "Building", new { id = Model.BuildingId }, null)
</div>

@section scripts {
    <script>
        function checkAll(bx) {
            var cbs = document.getElementsByTagName('input');
            for (var i = 0; i < cbs.length; i++) {
                if (cbs[i].type == 'checkbox') {
                    cbs[i].checked = bx.checked;
                }
            }
        }
    </script>
}
